@using Microsoft.AspNetCore.SignalR.Client
@using OnlineCheckers.Client.Data
@using OnlineCheckers.Shared
<div>
    @(isWhiteTurn? "Whites' turn" : "Blacks' turn")
</div>
@for (int i = 0; i < Constants.BOARD_SIZE; i++)
{
    int auxI = i;
    <div class="row">
        @for (int j = 0; j < Constants.BOARD_SIZE; j++)
        {
            int auxJ = j;
            var checker = blackCheckers.FirstOrDefault(n => n.Column == j && n.Row == i);
            if (checker == null) checker = whiteCheckers.FirstOrDefault(n => n.Column == j && n.Row == i);
            
            bool isPossibleMove = movePossibilities.Contains((auxI, auxJ));

            <div class="cell" @onclick="() => { MoveChecker(auxI, auxJ); }">
                @if (checker != null)
                {
                    <div class="checker @checker.Color @(checker == activeChecker ? "active" : "")" @onclick="()=> { CheckerPieceClicked(checker); }">
                        <div class="center">@(checker.Diretion == CheckerDirection.Both ? "♕" : "")</div>
                    </div>
                }
                @if (isPossibleMove)
                {
                    <div class="center target-move">🎯</div>
                }
            </div>
        }
    </div>
}

@code {
    [Parameter] public string GameId { get; set; }
    [Parameter] public HubConnection HubConnection { get; set; }
    [Parameter] public bool IsWhitePlayer{ get; set; }

    bool isWhiteTurn = true;
    List<Checker> blackCheckers = new List<Checker>();
    List<Checker> whiteCheckers = new List<Checker>();
    Checker activeChecker = null;

    List<(int row, int column)> movePossibilities = new List<(int, int)>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GeneratePieces();

        HubConnection.On(SharedConstants.MULTIPLAYER_HUB_GAME_JOINED, () =>
        {
            Console.WriteLine("User has joined the game");
        });

        HubConnection.On<int, int, int, int>(SharedConstants.MULTIPLAYER_HUB_CHECKER_MOVED, OpponentMove);
    }

    protected void OpponentMove(int prevCol, int prevRow, int currCol, int currRow)
    {
        Console.WriteLine("Black checkers");
        foreach (var item in blackCheckers)
        {

            Console.WriteLine($"Black row={item.Row} col={item.Column}");
        }

        Console.WriteLine("White checkers");
        foreach (var item in whiteCheckers)
        {

            Console.WriteLine($"White row={item.Row} col={item.Column}");
        }
        var checker = blackCheckers.FirstOrDefault(n => n.Column == prevCol && n.Row == prevRow);
        if(checker == null) checker = whiteCheckers.FirstOrDefault(n => n.Column == prevCol && n.Row == prevRow);

        Console.WriteLine($"Opponent moved his checker from c:{prevCol} r:{prevRow} to c:{currCol} r:{currRow}");
        Console.WriteLine($"Checker is {(checker == null ? "" : "NOT")} NULL");
        SetActiveChecker(checker);
        GeneratePossibleMoves();
        MoveChecker(currRow, currCol);
    }

    protected void CheckerPieceClicked(Checker checker)
    {
        if (isWhiteTurn != IsWhitePlayer) 
            return;
        if (isWhiteTurn && checker.Color == Constants.BLACK_CHECKER_COLOR_NAME)
            return;
        if (!isWhiteTurn && checker.Color == Constants.WHITE_CHECKER_COLOR_NAME)
            return;

        SetActiveChecker(checker); 
        GeneratePossibleMoves();    
    }

    protected void SetActiveChecker(Checker checker)
    {
        activeChecker = checker;
    }

    protected void GeneratePossibleMoves()
    {
        ClearPossibilities();

        if(activeChecker != null)
        {
            List<int> rowPossibilities = new List<int>();

            if(activeChecker.Diretion == CheckerDirection.Down || activeChecker.Diretion == CheckerDirection.Both)
            {
                rowPossibilities.Add(activeChecker.Row + 1);
            }

            if(activeChecker.Diretion == CheckerDirection.Up || activeChecker.Diretion == CheckerDirection.Both)
            {
                rowPossibilities.Add(activeChecker.Row - 1);
            }

            foreach (int row in rowPossibilities)
            {
                EvaluateMove(row, activeChecker.Column - 1);
                EvaluateMove(row, activeChecker.Column + 1);
            }
        }
    }

    protected void EvaluateMove(int row, int column, bool isFirstTime = true)
    {
        var blackChecker = blackCheckers.FirstOrDefault(n => n.Row == row && n.Column == column);
        var whiteChecker = whiteCheckers.FirstOrDefault(n => n.Row == row && n.Column == column);

        if(whiteChecker ==  null && blackChecker == null)
        {
            movePossibilities.Add((row, column));
        }
        else if(isFirstTime)
        {
            //Evaluating jump over possibility
            if((isWhiteTurn && blackChecker != null) ||
            (!isWhiteTurn && whiteChecker != null))
            {
                int columnGap = column - activeChecker.Column;

                int rowGap = row - activeChecker.Row;

                EvaluateMove(row + rowGap, column + columnGap, false);
            }
        }

    }

    protected void ClearPossibilities()
    {    
        movePossibilities.Clear();
    }

    void MoveChecker(int row, int column)
    {
        Console.WriteLine($"MoveChecker called. row={row} col={column}");
        Console.WriteLine("Possible moves");
        foreach (var item in movePossibilities)
        {
            
            Console.WriteLine($"Possibility: row={item.row} col={item.column}");
        }
        bool isPossibleMove = movePossibilities.Contains((row, column));
        Console.WriteLine("IsPossibleMove = " + isPossibleMove);
        
        if (!isPossibleMove) return;

        CheckForCheckerTaken(row, column);
        Console.WriteLine("Check for checker taken done.");

        HubConnection.SendAsync(SharedConstants.MULTIPLAYER_HUB_METHOD_MOVE_CHECKER, GameId, activeChecker.Column, activeChecker.Row, column, row);
        activeChecker.Column = column;
        activeChecker.Row = row;
        
        if((activeChecker.Row == 0 && activeChecker.Color == Constants.WHITE_CHECKER_COLOR_NAME) || 
        (activeChecker.Row == (Constants.BOARD_SIZE - 1) && activeChecker.Color == Constants.BLACK_CHECKER_COLOR_NAME))
        {
            activeChecker.Diretion = CheckerDirection.Both;
            Console.WriteLine("Changed direction to both");
        }

        activeChecker = null;
        ChangeTurn();
        GeneratePossibleMoves();
        StateHasChanged();
    }

    protected void CheckForCheckerTaken(int row, int column)
    {
        Console.WriteLine("Evaluating if checker was taken");

        if(Math.Abs(activeChecker.Column - column) == 2)
        {
            int jumpedColumn = (activeChecker.Column + column) / 2;
            int jumpedRow = (activeChecker.Row + row) / 2;

            Checker? takenChecker = null;
            if (isWhiteTurn)
            {
                takenChecker = blackCheckers.FirstOrDefault(n => n.Column == jumpedColumn && n.Row == jumpedRow);
                if (takenChecker != null) blackCheckers.Remove(takenChecker);
            }
            else
            {
                takenChecker = whiteCheckers.FirstOrDefault(n => n.Column == jumpedColumn && n.Row == jumpedRow);
                foreach (var whiteChecker in whiteCheckers)
                {
                    Console.WriteLine(whiteChecker.Row + "  | " + whiteChecker.Column);
                }
                if (takenChecker != null) whiteCheckers.Remove(takenChecker);
                
            }
        }
    }

    protected void ChangeTurn()
    {
        isWhiteTurn = !isWhiteTurn;
    }

    protected void GeneratePieces()
    {
        for (int i = 0; i < 3; i++)
        {
            for (int j = (i + 1) % 2; j < Constants.BOARD_SIZE; j+=2)
            {
                blackCheckers.Add(new Checker()
                    {
                        Column = j,
                        Row = i,
                        Diretion = CheckerDirection.Down,
                        Color = Constants.BLACK_CHECKER_COLOR_NAME
                    });
            }
        }
        
        for (int i = 5; i < 8; i++)
        {
            for (int j = (i + 1) % 2; j < Constants.BOARD_SIZE; j+=2)
            {
                whiteCheckers.Add(new Checker()
                    {
                        Column = j,
                        Row = i,
                        Diretion = CheckerDirection.Up,
                        Color = Constants.WHITE_CHECKER_COLOR_NAME
                    });
            }
        }
        
    }
}
