@inject NavigationManager NavigationManager;

@if (IsPlayerVictorius)
{
    <div class="center parent">
        <div class="content logo">
            <img src="assets/checkers-victory.png" />
        </div>
    </div>
}
else
{
    <div class="center parent">
        <div class="content logo">
            <img src="assets/checkers-defeat.png" />
        </div>
    </div>
}
<div class="center">
    <div class="content">
        <button class="my-button" @onclick="() => { GoBackToLobby(); }">Go back to lobby</button>
    </div>
</div>

@code {
    [Parameter] public bool IsPlayerVictorius { get; set; }

    protected void GoBackToLobby()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}
