@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client
@using OnlineCheckers.Shared

<div class="center">
    🙾 Online Checkers 🙿
</div>
@if (inGame)
{
    <CheckersBoard HubConnection="@hubConnection" GameId="@gameId" IsWhitePlayer="@isWhitePlayer"/>
}
else
{
    if (queued)
    {
        <div class="center">
            <WaitingForOpponent></WaitingForOpponent>
        </div>
    }
    else
    {
        <div class="center">
            <div class="content">
                <img class="checkers-image" src="assets/checkers.png" />
            </div>
            <div class="content">
                <button class="my-button" @onclick="PlayGame">Play Now</button>
            </div>
        </div>
    }
}

@code{
    private HubConnection? hubConnection;
    bool inGame = false;
    bool queued = false;
    string gameId = "";
    bool isWhitePlayer = true;



    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(SharedConstants.MULTIPLAYER_HUB_PATTERN_CONNECT).ToString())
            .Build();

        hubConnection.On(SharedConstants.MULTIPLAYER_HUB_GAME_STARTED, (Game args) =>
        {
            Console.WriteLine("Found an opponent and now game is starting");
            isWhitePlayer = hubConnection.ConnectionId == args.WhitePlayerId;
            gameId = args.GameId;
            inGame = true;
            StateHasChanged();
        });
    }

    async Task PlayGame()
    {
        await hubConnection.StartAsync();
        await hubConnection.SendAsync(SharedConstants.MULTIPLAYER_HUB_METHOD_JOIN_GAME);
        queued = true;
    }
}