<div class="center parent">
    <div class="content logo">
        <img src="assets/checkers-loading.gif" />
    </div>
    <div class="content text">
        <h2>Waiting for a worthy opponent...</h2>
    </div>
</div>

@code {

}
